<h1>You are now following "<%= @post.title %>", you will be notified of all comments to your post, if you do not wish to be notified, unfavorite your 
       <%= link_to "post", topic_post_url(@post.topic, @post) %>
       </h1>