<div class="form-group">
    <%= f.label :labels %>
    <%= f.text_field :labels,
                     class: 'form-control',
                     placeholder: "Enter labels (separated by commas)", #why not use tr?
                     value: labels.map(&:name).join(', ') %>
  </div>