<h1>Welcome to Bloccit by Coding Over 40!</h1>
<p id="index-title">This is the home page for Bloccit.</p>
<div class="posts">I'm going to put Post ONE here.</div>
<div class="posts">I'm going to put Post TWO here.</div>
<section>I am the content in a section element.</section>