@import "bootstrap-sprockets";
@import "bootstrap";
.user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

.user_avatar {
    margin: 5px;
    border:  1px #11f559 solid;
}

h1, .jumbotron h1{
     color: #11f559;
}