h1 p {
   color: #11F559;
 }
 
 .social-btn {
    text-align: center;
    height: 25px;
    width: 90px;
    border: 1px solid #900;
    padding: 5px 5px 5px 5px;
    color: lime;
    background: #11f559;
    font-style: italic;
}
 
